main section div.myProductsContainer form.myForm {
    background-color: var(--all-container-bg);
    color: var(--all-container-color);
}

main section div.myProductsContainer form.myForm div.myProductItemImg {
    height: 350px;
    background-color: whitesmoke;
    padding: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

main section div.myProductsContainer form.myForm div.myProductItemImg img {
    height: 100%;
    width: auto;
}

main section div.myProductsFilterBar a.myButtonAtras {
    background-color: var(--btn-success-bg);
    color: var(--btn-success-color);
}

main section div.myProductsFilterBar a.myButtonAtras:hover {
    background-color: var(--btn-success-hover-bg);
}