main section div.myProductsFilterBar button.myButtonGuardar {
    background-color: var(--btn-primary-bg);
    color: var(--btn-primary-color);
}

main section div.myProductsFilterBar button.myButtonGuardar:hover {
    background-color: var(--btn-primary-hover-bg);
}

