* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ALL : BACKGROUND */

body {
    overflow-x: hidden;
}

div.myBackground {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;

    background-image: url('../../assets/background.png');
    background-repeat: repeat;
    background-size: 150px 150px;
    opacity: 0.08;

    animation: moverFondo 30s linear infinite;

}

@keyframes moverFondo {
    from {
        background-position: 0 0;
    }

    to {
        background-position: 1550px -1000px;
    }
}

/* ALL : MENU */
header div.myNavigationPanel img.myLogo {
    height: 75px;
    width: 68px;

}


header div.myNavigationPanel nav.myMenu a.myMenuItem:hover {
    background-color: whitesmoke;

}

header div.myNavigationPanel nav.myMenu a.myMenuItem img {
    height: 30px;
    width: 68px;

}

/* BIENVENIDA */
main div.myContainer {
    width: 350px;
}

/* PRODUCTOS */
main section div.myProductsContainer {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;

}

main section div.myProductsContainer div.myProductItem {
    height: 450px;
    cursor: pointer;
}

main section div.myProductsContainer div.myProductItem:hover {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

main section div.myProductsContainer div.myProductItem div.myProductItemImg{
    height: 270px; /* 60% */
    background-color: whitesmoke;
    padding: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

main section div.myProductsContainer div.myProductItem div.myProductItemImg img{
    height: 100%;
    width: auto;
    
}
