<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>PokeTCG Service</title>

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">

    <!-- Seteo de icono -->
    <link rel="icon" href="../../assets/icono.png">

    <!-- Importacion de archivo CSS (Estilos) -->
    <link rel="stylesheet" href="../css/main.css">

    <!-- Importacion de archivo JS (Comportamiento)
    <script src="../js/main.js" type="module"></script> -->

</head>

<body data-page="productos" data-theme="light">

    <!-- Background -->
    <div class="myBackground"></div>

    <!-- Header -->
    <header class="vw-100 shadow row justify-content-center align-items-center m-0">

        <div class="h-100 col-12 col-lg-10 col-xxl-8 d-flex flex-row justify-content-between px-0 px-lg-2">

            <!-- BrandLogo -->
            <div class="d-flex flex-row w-50 align-items-center p-3">
                <img src="../../assets/icono.png" class="h-100" alt="logo">
                <div class="ms-5 mt-3 d-flex align-items-center">
                    <p class="fw-medium myClientName"></p>
                </div>
            </div>

            <!-- Menu Responsivo -->
            <nav class="myMenuResponsive d-flex d-lg-none flex-row gap-2 align-items-center ">
                <button
                    class="myMenuItem myButtonToExpandMenu btn d-flex flex-column align-items-center justify-content-around link-dark text-decoration-none rounded pt-2">
                    <svg viewBox="0 0 36 24">
                        <use href="../../assets/icons/MenuCollapse.svg"></use>
                    </svg>
                    <p class="fw-medium fs-6 p-0 m-0">Menu</p>
                </button>

                <button
                    class="myMenuItem myButtonToCollapseMenu d-none flex-column align-items-center justify-content-around link-dark text-decoration-none rounded pt-2">
                    <svg viewBox="0 0 28 28">
                        <use href="../../assets/icons/MenuExpanded.svg"></use>
                    </svg>
                    <p class="fw-medium fs-6 p-0 m-0">Cerrar</p>
                </button>
            </nav>

            <div
                class="myMenuResponsiveExpanded myContainerOut d-none d-lg-none position-fixed vw-100 vh-100 flex-row justify-content-center pt-5 ">
                <!-- Menus -->
                <nav class="w-50 d-flex flex-column gap-4 mt-5">
                    <a href=""
                        class="myMenuItem d-flex flex-row align-items-center justify-content-center link-dark text-decoration-none rounded p-1 w-100">
                        <svg viewBox="0 0 41 36">
                            <use href="../../assets/icons/Productos.svg"></use>
                        </svg>
                        <p class="fw-medium fs-6 p-0 m-0 ms-5">Tienda</p>
                    </a>

                    <a href="./carrito.html"
                        class="myMenuItem d-flex flex-row align-items-center justify-content-center link-dark text-decoration-none rounded p-1 w-100">
                        <svg viewBox="0 0 40 40">
                            <use href="../../assets/icons/Carrito.svg"></use>
                        </svg>
                        <p class="fw-medium fs-6 p-0 m-0 ms-5">Carrito</p>
                    </a>

                    <a href="./bienvenida.html"
                        class="myMenuItem d-flex flex-row align-items-center justify-content-center link-dark text-decoration-none rounded p-1 w-100">
                        <svg viewBox="0 0 36 36">
                            <use href="../../assets/icons/LogOut.svg"></use>
                        </svg>
                        <p class="fw-medium fs-6 p-0 m-0 ms-5">Salir</p>
                    </a>

                    <!-- Separator -->
                    <hr />

                    <!-- Theme -->
                    <button
                        class="myMenuItem myButtonToDarkMode btn d-flex flex-row align-items-center justify-content-center link-dark text-decoration-none rounded p-1 w-100">
                        <svg viewBox="0 0 44 44">
                            <use href="../../assets/icons/LightMode.svg"></use>
                        </svg>
                        <p class="fw-medium fs-6 p-0 m-0 ms-5">Light</p>
                    </button>

                    <button
                        class="myMenuItem myButtonToLightMode d-none flex-row align-items-center justify-content-center link-dark text-decoration-none rounded p-1 w-100">
                        <svg viewBox="0 0 36 36">
                            <use href="../../assets/icons/DarkMode.svg"></use>
                        </svg>
                        <p class="fw-medium fs-6 p-0 m-0 ms-5">Dark</p>
                    </button>

                    <div class="position-fixed w-50 d-flex flex-row justify-content-center text-center">
                        Desarrollado por Santiago Guzman y Carlos Mendéz
                    </div>

                </nav>

            </div>

            <!-- Menu Completo -->
            <nav class="myMenuComplete d-none d-lg-flex flex-row gap-2 align-items-center">

                <!-- Menus -->
                <a href=""
                    class="myMenuItem d-flex flex-column align-items-center justify-content-around link-dark text-decoration-none rounded pt-2">
                    <svg viewBox="0 0 32 32">
                        <use href="../../assets/icons/Download.svg"></use>
                    </svg>
                    <p class="fw-medium fs-6 p-0 m-0">Ventas</p>
                </a>


                <a href="./bienvenida.html"
                    class="myMenuItem d-flex flex-column align-items-center justify-content-around link-dark text-decoration-none rounded pt-2 ms-3">
                    <svg viewBox="0 0 36 36">
                        <use href="../../assets/icons/LogOut.svg"></use>
                    </svg>
                    <p class="fw-medium fs-6 p-0 m-0">Salir</p>
                </a>

                <!-- Separator -->
                <div class="vr mx-1 my-2"></div>

                <!-- Theme -->
                <button
                    class="myMenuItem myButtonToDarkMode btn d-flex flex-column align-items-center justify-content-around link-dark text-decoration-none rounded pt-2">
                    <svg viewBox="0 0 44 44">
                        <use href="../../assets/icons/LightMode.svg"></use>
                    </svg>
                    <p class="fw-medium fs-6 p-0 m-0">Light</p>
                </button>

                <button
                    class="myMenuItem myButtonToLightMode d-none flex-column align-items-center justify-content-around link-dark text-decoration-none rounded pt-2">
                    <svg viewBox="0 0 36 36">
                        <use href="../../assets/icons/DarkMode.svg"></use>
                    </svg>
                    <p class="fw-medium fs-6 p-0 m-0">Dark</p>
                </button>
            </nav>

        </div>

    </header>

    <!-- Main -->
    <main class="vw-100 d-flex flex-row justify-content-center row m-0 mb-5">
        <section class="col-12 col-lg-10 col-xxl-8 mb-1 pt-3">

            <div class="myProductsFilterBar rounded shadow row align-items-center justify-content-end px-0 mx-0">
            </div>

            <div class="myProductsContainer m-0 mt-3 row gap-3 justify-content-center">
            </div>

        </section>
    </main>

    <script>

        function setFilterBar() {
            // Agregacion de los Nodos al DOM
            const _divProductsFilterBar = document.querySelector('body main section div.myProductsFilterBar');
            _divProductsFilterBar.innerHTML = `<button class="btn myButtonCrearProducto col-12 col-lg-1 my-lg-3 me-3 d-flex justify-content-center align-items-center" >
                <svg viewBox="0 0 28 28" class="me-2">
                    <use href="../../assets/icons/Add.svg"></use>
                </svg>
                Nuevo
            </button>`;

            // const _barraBusqueda = document.querySelector('body main section div.myProductsFilterBar input.mySearchBar');
            // const _selectFiltro = document.querySelector('body main section div.myProductsFilterBar select.mySelectFilter');
            // const _selectOrder = document.querySelector('body main section div.myProductsFilterBar select.mySelectOrder');

            // if (_barraBusqueda && _selectFiltro && _selectOrder) {
            //     _barraBusqueda.addEventListener('input', handlerFilterBar);
            //     _selectFiltro.addEventListener('change', handlerFilterBar);
            //     _selectOrder.addEventListener('change', handlerFilterBar);
            // }
        }

        function imprimirArrayProductos(arrayProductos) {

            if (!Array.isArray(arrayProductos)) {
                imprimirErrorProductos();
                return;
            }

            // Armado de los Nodos
            let _contenedorProductos = `<table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th scope="col" class="col-1">ID</th>
                        <th scope="col" class="col-7">Producto</th>
                        <th scope="col" class="col-1">Tipo</th>
                        <th scope="col" class="col-1">Estado</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>`;

            arrayProductos.forEach((producto) => {
                _contenedorProductos += ` <tr class="myTableRow">
                    <th scope="row" class="">${producto.IDProducto}</th>
                    <td class="">${producto.Producto}</td>
                    <td class="">${producto.TipoProducto}</td>
                    <td class="">
                        ${producto.Estado.data[0] === 1 
                        ? '<span class="badge rounded-pill text-bg-success p-2">Habilitado</span>'
                        : '<span class="badge rounded-pill text-bg-danger p-2">Inhabilitado</span>'
                        }
                    </td>
                    <td class="d-flex flex-row justify-content-end">
                        <button class="btn myButtonConsultarProducto d-flex justify-content-center align-items-center ms-2"
                            data-id="${producto.IDProducto}">
                            <svg viewBox="0 0 36 36">
                                <use href="../../assets/icons/Read.svg"></use>
                            </svg>
                        </button>

                        <button class="btn myButtonModificarProducto d-flex justify-content-center align-items-center ms-2"
                            data-id="${producto.IDProducto}">
                            <svg viewBox="0 0 36 36">
                                <use href="../../assets/icons/Edit.svg"></use>
                            </svg>
                        </button>

                        <button class="btn myButtonAnularProducto d-flex justify-content-center align-items-center ms-2"
                            data-id="${producto.IDProducto}">
                            <svg viewBox="0 0 28 28">
                                <use href="../../assets/icons/MenuExpanded.svg"></use>
                            </svg>
                        </button>


                        <button class="btn myButtonAnularProducto d-flex justify-content-center align-items-center ms-2"
                            data-id="${producto.IDProducto}">
                            <svg viewBox="0 0 32 36">
                                <use href="../../assets/icons/Delete.svg"></use>
                            </svg>
                        </button>

                    </td>
                </tr>`;
            });

            _contenedorProductos += `</tbody>
                </table>`;

            // Agregacion de los Nodos al DOM
            let _divContenedorProductos = document.querySelector('body main section div.myProductsContainer');
            _divContenedorProductos.innerHTML = _contenedorProductos;



        }

        function imprimirErrorProductos(error) {
            let _divContenedorProductos = document.querySelector('body main section div.myProductsContainer');
            _divContenedorProductos.innerHTML = `<div class="alert alert-danger text-center myProductsMessage" role="alert">
        ${error} 
    </div>`;
        }

        function loadProductos() {
            // if (PAG_CARGANDO || PAG_FIN) return;
            // PAG_CARGANDO = true;

            ProductosGetItems()
                .then((productos) => {
                    imprimirArrayProductos(productos);
                    // Avanzamos la página para la siguiente tanda
                    // PAG_PAGINA_ACTUAL += 1;
                    // PAG_FIN = productos.length < PAG_ITEMS_PAGINA ? true : false;
                    // Mandamos a comprobar de manera automática si se requiere rellenar más pantalla
                    // checkIfSentinelIsShow();
                })
                .catch((error) => {
                    imprimirErrorProductos(error);

                }).finally(() => {
                    // PAG_CARGANDO = false;
                });
        }

        async function ProductosGetItems() {

            const _endpointURL = `http://localhost:3000/api/productos`;
            const response = await fetch(_endpointURL);

            if (!response.ok) {
                throw new Error(`La API respondió con estado ${response.status}`);
            }

            const datos = await response.json();


            return datos.payload;
        }

        setFilterBar();

        loadProductos();

    </script>

    <!-- Footer -->
    <footer class="d-none d-lg-flex position-fixed vw-100 justify-content-center align-items-center">
        Desarrollado por Santiago Guzman y Carlos Mendéz
    </footer>
</body>

</html>